*
{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(206, 242, 245);
}
header
{
    font-size: 45px;
    text-align:center;
    color: rgb(38, 193, 149);
    text-shadow: 4px -0.5px black;
    padding: 40px;
}
h3,h4{
    border-left: 3px solid rgb(30, 119, 137);
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    border-bottom:2px dashed gray;
    padding-bottom: 4px;
}
.container
{
    display: flex;
    gap: 5px;
    position: sticky;

}
.part1
{
    flex: 3 4 4;
    width: 100%;
}
.part1 > img
{
    height: 100%;
    width: 100%;
    filter:grayscale();
}
.part2
{
    width: 100%;
    flex: 3 4 4;
}
textarea
{
    /* height: 200px; */
    width: 100%;
    min-width: 300px;
}
#submit
{
    background-color:cadetblue;
   color: white;
   border-radius: 5px;
   padding: 3px 10px;
   border: none;
   font-size: 20px;
}
.part3
{
    width: 100%;
    flex: 3 4 4;
}
li{
    font-size: 15px;
    color: black;
    border-bottom: 1px dotted cadetblue;
    text-wrap:wrap;
    padding-bottom: 3px;
    margin-left: -20px;
}
.delete{
    background-color:red;
    color: white;
    border-radius: 5px;
    padding: 3px 10px;
    border: none;
    font-size: 11px;
}


@media screen and (max-width:580px) {
    *{
        margin: 0;
    }
    header
    {
        font-size: 35px;
        padding: auto;
    }
    .container
    {
        flex-direction: column;
        gap: 20px;
    }
    .part1,.part2,.part3
    {
        width: 100%;
        flex: 0;
        
    }
    textarea
    {
        /* min-width:0px; */
        /* width: 100%; */
        width: 90%;
    }
}